<!DOCTYPE html>
<html lang="en"from>
    <head>
        <link rel="stlesheet" href="{% block style %}style.css{% endblock %}" .>
        <title>{% block title %}My amazing site{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
